body {
    font-family: Arial, 'Times New Roman', sans-serif;
    font-size: 140%;
    background: #e1e8e8;
}

header {
    background-color: #c1c7f5; 
    color: rgb(25, 29, 48);
}

nav {
    background-color: #ced4f2;
}

main {
    background-color: rgb(208, 169, 245);
    font-size: 120%;
    color: rgb(25, 29, 48);
}

footer {
    background-color:  rgba(105, 200, 219, 0.5);
    text-align: center;
    color: rgb(18, 38, 15);
}

li {
    display: inline-block;
    width: 250px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family:Montserrat, Helvetica, sans-serif;
    background-color: #151e4d;
    color: #ffffff;
}

p {
    line-height: 120%;
}
